<% include partials/header %>

<div class="container">
    <div class="jumbotron">
    <div class="container">
        <h1>HEIGHTS OF NEPAL</h1>
        <h2>Our goal is to showcase<br>Nepal's beautiful side, and share the hidden places and views of "The roof of the world"<br></h2>
        <p>All over the country people are <strong>TAKING PICTURES</strong> of the <strong>PLACES</strong> 
        they've been to. Hundreds of pictures are being taken. 
        This will be a collection of all those in a single album, contributed by everyone.
        <p><a class="btn btn-success btn-md" href="/sites" role="button">Take me to the sites &raquo;</a></p>
    </div>
</div>
</div>

    
    
      <div class="container homepage">
        <h2>WHO I AM</h2>
        <hr>
        <div class="square">
            <img src="images/profile.jpg" alt="Ananta Vaidya">
        </div>
        <p>I am <a href="https://www.linkedin.com/in/anantavaidya" target="_blank">ANANTA VAIDYA</a>. My aim, through <strong>HEIGHTS OF NEPAL</strong>, is to showcase places, people, architecture and the views
        of Nepal through the pictures and description shared by anyone who have been in different parts of Nepal</p>
      </div>
    




<% include partials/footer %>