<% include ../partials/header %>

<div class = "container fillup">
    <div class = "row">
        <h1 style = "text-align: center;">Edit <%= site.name %></h1>
        <div style = "width: 100%; margin: 25px auto;">
            <form enctype="multipart/form-data" action = "/sites/<%= site._id %>?_method=PUT" method = "POST">
                <div class = "input-group form-group">
                    <input class = "form-control" type = "text" name = "site[name]" value="<%= site.name %>">
                </div>
                <div  class = "input-group form-group">
                    <input class = "form-control" type = "text" name = "site[description]" value="<%= site.description %>">
                </div>
                <button class = "btn btn-md btn-primary btn-block">Submit</button>
            </form>
            <a href = "/sites">Go Back!</a>
        </div>
    </div>
    
</div>

<% include ../partials/footer  %>