<% include ../partials/header %>

<div class = "container fillup">
   <h1>Create a new Site</h1>
            <form enctype="multipart/form-data" action = "/sites" method = "POST">
                <div class = "input-group form-group">
                    <input class = "form-control" type = "text" name = "name" placeholder = "name" required>
                </div>
                <div class = "input-group form-group">
                    <input class="form-control" type="file" name="image" required/>
                </div>
                <div  class = "input-group form-group">
                    <input class = "form-control" type = "text" name = "description" placeholder = "description" required>
                </div>
                <button class = "btn btn-md btn-primary btn-block">Submit</button>
            </form>
            <a class = "btn btn-md btn-warning" href = "/sites">Go Back!</a>    
</div>

<% include ../partials/footer  %>